<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="MySql.Data" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Default.aspx" />
    <machineKey validationKey="2B49256001BC005ABDE97B617341FE2FF642DD7421A964E24B899748C23930AD5296133B7E40B64CCE5D444296E3605B230D5C499E0743C1E63550E9DD4D70AD" decryptionKey="A9B605332D162070DD64B3BD733F5F0724D932C35935EBE73E74AAD2CB0C68F8" validation="SHA1" decryption="AES" />
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <connectionStrings>
    <add name="popupconnection" connectionString="Data Source=P3NWPLSK12SQL-v05.shr.prod.phx3.secureserver.net;Initial Catalog=grassroot;Persist Security Info=True;User ID=grassrootprop;Password=Maryam@2018;" />
  </connectionStrings>
</configuration>